*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:rgb(80, 70, 18);
    color:rgb(126, 197, 241);
}
h1{
    font-size: 30px;
    margin: 10px 0px 15px 60px;
}
#game-container{
    position: relative;
    margin: 0 10px !important;
}
#image{
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    border: none;
    height: auto;
}
#goal{
    position: absolute;
    top: 0;
    left: 0;
}
#star{
    width: 40px;
    display: none;
}
#info-container{
    display: flex;
    margin-left: 40px;
}
#click-count{
margin-right: 40px;
}
button{
    background-color: rgb(163, 144, 119);
    border: none;
    border-radius: 5px;
    padding: 0 5px;
}
#print-hint{
    margin-left: 30px;
}